@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum.eot") format("eot"), url("../fonts/Forum.woff") format("woff"), url("../fonts/Forum.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.eot") format("eot"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

* {
  border: 1px solid green; }

@media (max-width: 650px) {
  body {
    font-family: Forum, san-serif;
    color: white;
    background-color: #3B181E; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    padding: 15px 25px 15px 25px; }
  .logo {
    display: block;
    width: 110px; }
    .logo__slogan {
      font-size: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      padding-left: 15px; }
  .nav-button {
    display: block;
    position: relative;
    width: 41px;
    height: 41px;
    border: none;
    background-color: #3B181E;
    cursor: pointer; }
    .nav-button span,
    .nav-button span::before,
    .nav-button span::after {
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 1px;
      width: 35px;
      height: 8px;
      background-color: #3B181E; }
    .nav-button span::before,
    .nav-button span::after {
      content: '';
      display: block; }
    .nav-button span::before {
      height: 1px;
      -webkit-transform: translateY(-7px);
              transform: translateY(-7px);
      background-color: white;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .nav-button span::after {
      height: 1px;
      -webkit-transform: translateY(7px);
              transform: translateY(7px);
      background-color: white;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .nav-button span:hover::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: white; }
    .nav-button span:hover::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: white; }
  .index-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("/img/1iphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 466px;
    margin: 0 0 70px 0; }
    .index-first__title {
      width: 250px;
      text-align: center;
      font-family: PlayfairDisplay;
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 0.09em;
      line-height: 140%;
      padding-top: 85px;
      margin: 0 0 30px 0;
      text-transform: uppercase; }
  .index-first__button {
    display: block;
    width: 180px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    letter-spacing: 0.25em;
    color: white;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .index-first__button:hover {
      border: 1px solid white;
      background: white;
      -webkit-box-shadow: 0 0 5px white;
              box-shadow: 0 0 5px white;
      color: #3B181E; }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0; }
    .social .social__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 30px 0 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 25px;
      text-decoration: none;
      color: white;
      background-color: #3B181E;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .social .social__item:nth-last-child(1) {
        margin-right: 0; }
      .social .social__item:hover {
        color: #3B181E;
        background-color: white;
        -webkit-box-shadow: 0 0 7px white;
                box-shadow: 0 0 7px white; }
  .index-first__arrow {
    background-image: url("/img/arrow.png");
    background-repeat: no-repeat;
    -webkit-filter: invert(100);
            filter: invert(100);
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .index-first__arrow:hover {
      -webkit-transform: translateY(7px);
              transform: translateY(7px); }
  .index-catalog {
    display: block;
    position: relative;
    margin-bottom: 50px; }
    .index-catalog__title {
      display: block;
      position: relative;
      font-size: 20px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      padding-left: 20px; }
    .index-catalog__img {
      display: block;
      position: relative;
      width: 288px;
      height: 392px;
      padding-left: 20px;
      margin-bottom: 10px; }
    .index-catalog__number {
      display: block;
      position: absolute;
      left: 115px;
      top: 20px;
      font-size: 24px; }
    .index-catalog__number::before {
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 1px;
      top: 15px;
      right: 40px;
      border: 0;
      background-color: #ffffff; }
    .index-catalog__item {
      width: 80%;
      max-width: 288px;
      position: absolute;
      top: 330px;
      left: 15px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .index-catalog .ipad {
      display: none; }
  .index-catalog__indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  progress {
    border: 0;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #ffffff; }
    progress:nth-last-child(1) {
      margin-right: 0px; }
    progress::-webkit-progress-value {
      background: white; }
  .index-promo {
    display: block; }
    .index-promo .index-promo__img {
      text-align: center;
      width: 90%;
      height: auto;
      max-height: 323px;
      overflow: hidden;
      margin: 0 auto; }
    .index-promo__notice {
      display: block;
      position: relative;
      max-width: 90%;
      text-align: start;
      width: 150px;
      padding-left: 10%;
      margin: 0 150px 20px 0;
      font-size: 18px;
      font-weight: 200;
      line-height: 170%;
      letter-spacing: 0.06em;
      text-transform: uppercase; }
    .index-promo__notice::after {
      content: "";
      position: absolute;
      top: 70px;
      right: 10%;
      width: 130px;
      height: 1px;
      background-color: #ffffff; }
    .index-promo__offer {
      width: 80%;
      max-width: 288px;
      padding-left: 10%;
      font-size: 14px;
      line-height: 170%;
      margin-bottom: 30px; }
    .index-promo .index-promo__button {
      display: block;
      width: 180px;
      height: 50px;
      border: 1px solid black;
      background-color: black;
      font-size: 10px;
      letter-spacing: 0.25em;
      color: white;
      text-transform: uppercase;
      padding: 0;
      margin: 0 110px 20px 10%;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .index-promo .index-promo__button:hover {
        border: 1px solid white;
        background: white;
        -webkit-box-shadow: 0 0 5px white;
                box-shadow: 0 0 5px white;
        color: #3B181E; }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%; }
    .footer__line {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 90%;
      height: 1px;
      background-color: #727272; }
    .footer__nav {
      padding: 0;
      text-align: center; }
    .footer .nav__item {
      position: relative;
      font-size: 16px;
      font-weight: lighter;
      color: #929292;
      line-height: 25px;
      list-style-type: none;
      text-decoration: none;
      text-align: center;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .footer .nav__item:hover {
        color: white;
        text-shadow: 0 0 10px #a3a3a3;
        cursor: pointer; }
      .footer .nav__item:nth-last-child(1) {
        margin-bottom: 20px; }
    .footer .social {
      height: 35px;
      margin: 20px; }
      .footer .social__item {
        font-size: 25px;
        color: white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .footer .social__item:hover {
          font-size: 25px;
          color: #3B181E;
          background-color: white;
          -webkit-box-shadow: 0 0 7px white;
                  box-shadow: 0 0 7px white; } }

@media (min-width: 650px) {
  body {
    font-family: Forum, san-serif;
    color: white;
    background-color: #3B181E; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    padding: 15px 25px 15px 25px; }
  .logo {
    display: block;
    width: 110px; }
    .logo__slogan {
      font-size: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      padding-left: 15px; }
  .nav-button {
    display: block;
    position: relative;
    width: 41px;
    height: 41px;
    border: none;
    background-color: #3B181E;
    cursor: pointer; }
    .nav-button span,
    .nav-button span::before,
    .nav-button span::after {
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 1px;
      width: 35px;
      height: 8px;
      background-color: #3B181E; }
    .nav-button span::before,
    .nav-button span::after {
      content: '';
      display: block; }
    .nav-button span::before {
      height: 1px;
      -webkit-transform: translateY(-7px);
              transform: translateY(-7px);
      background-color: white;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .nav-button span::after {
      height: 1px;
      -webkit-transform: translateY(7px);
              transform: translateY(7px);
      background-color: white;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .nav-button span:hover::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: white; }
    .nav-button span:hover::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: white; }
  .index-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("/img/1iphone.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 466px;
    margin: 0 0 70px 0; }
    .index-first__title {
      width: 250px;
      text-align: center;
      font-family: PlayfairDisplay;
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 0.09em;
      line-height: 140%;
      padding-top: 85px;
      margin: 0 0 30px 0;
      text-transform: uppercase; }
  .index-first__button {
    display: block;
    width: 180px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    letter-spacing: 0.25em;
    color: white;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .index-first__button:hover {
      border: 1px solid white;
      background: white;
      -webkit-box-shadow: 0 0 5px white;
              box-shadow: 0 0 5px white;
      color: #3B181E; }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0; }
    .social .social__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 30px 0 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 25px;
      text-decoration: none;
      color: white;
      background-color: #3B181E;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .social .social__item:nth-last-child(1) {
        margin-right: 0; }
      .social .social__item:hover {
        color: #3B181E;
        background-color: white;
        -webkit-box-shadow: 0 0 7px white;
                box-shadow: 0 0 7px white; }
  .index-first__arrow {
    background-image: url("/img/arrow.png");
    background-repeat: no-repeat;
    -webkit-filter: invert(100);
            filter: invert(100);
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .index-first__arrow:hover {
      -webkit-transform: translateY(7px);
              transform: translateY(7px); }
  .index-catalog {
    display: block;
    position: relative;
    margin-bottom: 50px; }
    .index-catalog__title {
      display: block;
      position: relative;
      text-align: center;
      font-size: 30px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      bottom: 20px; }
    .index-catalog__title::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 42%;
      width: 90px;
      height: 2px;
      background-color: #ffffff; }
    .index-catalog__img {
      display: inline-block;
      position: relative;
      width: 35%;
      max-width: 288px;
      height: 100%;
      max-height: 392px;
      padding-left: 20px;
      margin-bottom: 30px; }
    .index-catalog .iphone {
      display: none; }
    .index-catalog__number {
      display: block;
      position: absolute;
      left: 45px;
      top: 30px;
      font-size: 24px; }
    .index-catalog__number::after {
      content: '';
      display: block;
      position: absolute;
      width: 70px;
      height: 2px;
      top: 15px;
      left: 50px;
      border: 0;
      background-color: #ffffff; }
    .index-catalog__item {
      width: 80%;
      max-width: 288px;
      position: absolute;
      bottom: -30px;
      left: 15px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
  .index-catalog__indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  progress {
    border: 0;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #ffffff; }
    progress:nth-last-child(3) {
      margin-right: 0px; }
    progress:nth-last-child(2), progress:nth-last-child(1) {
      display: none; }
    progress::-webkit-progress-value {
      background: white; }
  .index-promo {
    display: block; }
    .index-promo .index-promo__img {
      text-align: center;
      max-width: 90%;
      height: auto;
      max-height: 323px;
      overflow: hidden;
      margin: 0 auto; }
    .index-promo__notice {
      display: block;
      position: relative;
      text-align: center;
      max-width: 440px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 200;
      line-height: 170%;
      letter-spacing: 0.06em;
      text-transform: uppercase; }
    .index-promo__notice::after {
      content: "";
      position: absolute;
      top: 60px;
      right: 40%;
      width: 100px;
      height: 2px;
      background-color: #ffffff; }
    .index-promo__offer {
      text-align: center;
      width: 440px;
      font-size: 14px;
      line-height: 170%;
      margin: 0 auto;
      margin-bottom: 30px; }
    .index-promo .index-promo__button {
      display: block;
      width: 180px;
      height: 50px;
      border: 1px solid black;
      background-color: black;
      font-size: 10px;
      letter-spacing: 0.25em;
      color: white;
      text-transform: uppercase;
      margin: 0 auto;
      margin-bottom: 30px;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .index-promo .index-promo__button:hover {
        border: 1px solid white;
        background: white;
        -webkit-box-shadow: 0 0 5px white;
                box-shadow: 0 0 5px white;
        color: #3B181E; }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%; }
    .footer__line {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 90%;
      height: 1px;
      background-color: #727272; }
    .footer__nav {
      padding: 0;
      text-align: center; }
    .footer .nav__item {
      position: relative;
      font-size: 16px;
      font-weight: lighter;
      color: #929292;
      line-height: 25px;
      list-style-type: none;
      text-decoration: none;
      text-align: center;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .footer .nav__item:hover {
        color: white;
        text-shadow: 0 0 10px #a3a3a3;
        cursor: pointer; }
      .footer .nav__item:nth-last-child(1) {
        margin-bottom: 20px; }
    .footer .social {
      height: 35px;
      margin: 20px; }
      .footer .social__item {
        font-size: 25px;
        color: white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .footer .social__item:hover {
          font-size: 25px;
          color: #3B181E;
          background-color: white;
          -webkit-box-shadow: 0 0 7px white;
                  box-shadow: 0 0 7px white; } }

/*# sourceMappingURL=style.css.map */
