body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  font-family: $font-main;
  color: $font-color;
  background-color: $color-main;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-right: 25px;

  &__text {
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.nav-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-main;
  cursor: pointer;

  span,
  span::before,
  span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 0;
    width: 35px;
    height: 8px;
    background-color: $color-main;
  }
  span::before,
  span::after {
  content: '';
    display: block;
  }
  span::before {
    height: 1px;
    transform: translateY(-7px);
    background-color: white;
    transition: transform 0.3s;
  }
  span::after {
    height: 1px;
    transform: translateY(7px);
    background-color: white;
    transition: transform 0.3s;
  }
  span:hover::before {
    transform: rotate(45deg);
    background-color: white;
  }
  span:hover::after {
    transform: rotate(-45deg);
    background-color: white;
  }
}

.section-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

  &__img {
    background-image: url("/img/1iphone.jpg");
    background-repeat: no-repeat;
    width: 320px;
    height: 466px;
  }
}

.first-block-inform {
  width: 100%;

  h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.09em;
    padding-top: 85px;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
}
.works-button {
  display: block;
  position: relative;
  left: 70px;
  width: 180px;
  height: 50px;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 45px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.works-button span {
  letter-spacing: 0.15em;
  color: white;
  transition: color 0.3s;
}
.works-button:hover {
  border: 1px solid rgb(255, 255, 255);
  background: white;
  box-shadow: 0 0 7px white;
}
.works-button:hover span {
  color: $color-main;
}

.container-icon {
  height: auto;
  margin-bottom: 30px;
}
.social {
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
  padding: 0 15px 0;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: white;
  background-color: $color-main;
  cursor: pointer;
  transition: all 0.3s;
}
.instagram:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}
.facebook:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}
.whatsapp:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}
.vk:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 12px white;
}

.container-arrow {
  box-sizing: border-box;
  margin: 0;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s;
}
.container-arrow:hover {
  transform: translateY(7px);
 }
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    filter: invert(60%);
    cursor: pointer;
    transition: filter 0.3s;
  }
  &__item:hover {
    filter: invert(100%);
    cursor: pointer;
  }
 
}


.section-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.second-block-inform {
  width: 100%;
  
  h2 {
    font-size: 16px;
    letter-spacing: 0.06em;
    padding-left: 20px;
    text-transform: uppercase;
  }
}
.section-second-img {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.section-second-img h2 {
  position: absolute;
	top: 10px;
	left: 110px;
  font-size: 30px;
}
.section-second-img progress {
  position: absolute;
	top: 50px;
	left: 40px;
  border: 0;
  width: 60px;
  height: 2px;
  margin-right: 10px;
  background-color: #ffffff;
}
.section-second-img h3 {
  position: absolute;
  margin-top: 330px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
progress {
  border: 0;
  width: 60px;
  height: 4px;
  margin-right: 10px;
  background-color: #ffffff;
}
progress:nth-last-child(1) {
  margin-right: 0px;
}
progress::-webkit-progress-value {
  background: rgb(255, 255, 255);
}
.serv-offer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 16px;
  line-height: 170%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 4px solid red
}


.section-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
} 
.section-third-img {
  background-image: url("/img/3iphone.jpg");
  background-repeat: no-repeat;
  width: 288px;
  height: 170px;
}
.section-third h2 {
  width: 100%;
  padding-left: 20px;
  margin: 0;
  font-size: 18px;
  font-weight: 200;
  line-height: 170%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: 50px;
}
.section-third progress {
  border: 0;
  width: 120px;
  height: 2px;
  margin-right: 10px;
  background-color: #ffffff;
}
.section-third h3 {
  font-size: 14px;
  line-height: 170%;
  margin: 0 30px 30px 0;
}
.section-third .works-button {
  display: block;
  position: relative;
  left: -50px;
  width: 180px;
  height: 50px;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 45px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.section-third .works-button span {
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;
  transition: color 0.3s;
}
.section-third .works-button:hover {
  border: 1px solid rgb(255, 255, 255);
  background: white;
  box-shadow: 0 0 7px white;
}
.section-third .works-button:hover span {
  color: $color-main;
}

  
.footer-container {
  left: 0; 
  bottom: 0;
  width: 100%;

  &__line {
    display: block;
    position: relative;
    align-self: center;
    width: 100%;
    height: 5px;
    border: none;
    background-color: $color-main;
  }
  &__line span {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color:rgb(146, 146, 146);
  }

  &__text {
    padding: 0; 
  }
  li {
    position: relative;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(146, 146, 146);
    line-height: 25px;
    list-style-type: none;
    text-align:  center;
    transition: color 0.3s;
  }
  li:nth-last-child(1) {
    margin-bottom: 30px;
  }
  li:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(163, 163, 163);
    cursor: pointer;
  }
  .social {
    height: 35px;
    margin: 0;
  }
  .social__item {
    font-size: 25px;
    color: white;
  }
  .instagram:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  .facebook:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  .whatsapp:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  .vk:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
}
