* {
  border: 1px solid green;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  font-family: $font-face;
  color: $font-color;
  background-color: $color-main;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 10px;
}
  .logo {
    display: block;
    width: 110px;
    margin-right: 25px;

    &__slogan {
      font-size: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      padding-left: 15px;
    }
  }

  .nav-button {
    display: block;
    position: relative;
    width: 41px;
    height: 41px;
    border: none;
    background-color: $color-main;
    cursor: pointer;

    span,
    span::before,
    span::after {
      position: absolute;
      top: 50%; margin-top: -2px;
      left: 1px;
      width: 35px;
      height: 8px;
      background-color: $color-main;
    }
    span::before,
    span::after {
    content: '';
      display: block;
    }
    span::before {
      height: 1px;
      transform: translateY(-7px);
      background-color: white;
      transition: transform 0.3s;
    }
    span::after {
      height: 1px;
      transform: translateY(7px);
      background-color: white;
      transition: transform 0.3s;
    }
    span:hover::before {
      transform: rotate(45deg);
      background-color: white;
    }
    span:hover::after {
      transform: rotate(-45deg);
      background-color: white;
    }
  }

.index-first {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("/img/1iphone.jpg");
  width: 100%;
  height: 466px;
  margin: 0;

  &__title {
    width: 230px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0.09em;
    line-height: 140%;
    padding-top: 85px;
    margin: 0;
    text-transform: uppercase;
  }
}
  .button-form {
    display:block;
    width: 180px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    letter-spacing: 0.25em;
    color: white;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    
    &:hover {
      border: 1px solid rgb(255, 255, 255);
      background: white;
      box-shadow: 0 0 5px white;
      color: $color-main;
  }

  .container-icon {
    width: 320px;
    height: auto;
  }
  .social {
    display: flex;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    padding: 0 15px 0;
  }
  .social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    background-color: $color-main;
    cursor: pointer;
    transition: all 0.3s;
  }
  .social__item:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      filter: invert(60%);
      cursor: pointer;
      transition: all 0.3s;
    }
    &__item:hover {
      filter: invert(100%);
      transform: translateY(7px);
    }
  }


.section-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.block-inform {
  width: 100%;
  
  &__text {
    font-size: 16px;
    letter-spacing: 0.06em;
    padding-left: 12px;
    text-transform: uppercase;
  }
}
.section-second__img {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;

  .catalog__number {
    position: absolute;
    top: 10px;
    left: 110px;
    font-size: 30px;
  }
  & .catalog__line {
    position: absolute;
    top: 50px;
    left: 40px;
    border: 0;
    width: 60px;
    height: 2px;
    margin-right: 10px;
    background-color: #ffffff;
  }
  & .catalog__item {
    position: absolute;
    margin-top: 330px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
progress {
  border: 0;
  width: 60px;
  height: 4px;
  margin-right: 10px;
  background-color: #ffffff;

  &:nth-last-child(1) {
    margin-right: 0px;
  }
  &::-webkit-progress-value {
    background: rgb(255, 255, 255);
  }
}
.section-third-img {
  background-image: url("/img/3iphone.jpg");
  background-repeat: no-repeat;
  width: 288px;
  height: 170px;
  margin-bottom: 20px;
}
.section-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__notice {
    width: 100%;
    padding-left: 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 170%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
  }
   .section-third__line {
    width: 120px;
    height: 1px;
    background-color: #ffffff;
    margin-right: 165px;
  }
  &__offer {
    font-size: 14px;
    line-height: 170%;
    margin: 0 30px 30px 0;
  }
  & .button-form {
    display: block;
    position: relative;
    left: -50px;
    width: 180px;
    height: 50px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 45px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  & .button-form span {
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    transition: color 0.3s;
  }
  & .button-form:hover {
    border: 1px solid rgb(255, 255, 255);
    background: white;
    box-shadow: 0 0 7px white;
  }
  & .button-form:hover span {
    color: $color-main;
  }
}
  
.footer {
  left: 0; 
  bottom: 0;
  width: 100%;

  &__line {
    display: block;
    position: relative;
    align-self: center;
    width: 100%;
    height: 5px;
    border: none;
    background-color: $color-main;
  
    & span {
      position: absolute;
      top: 50%;
      left: 5%;
      width: 90%;
      height: 1px;
      background-color:rgb(146, 146, 146);
    }
  }
  &__text {
    padding: 0; 
  }
  li {
    position: relative;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(146, 146, 146);
    line-height: 25px;
    list-style-type: none;
    text-align:  center;
    transition: color 0.3s;
  
    &:hover {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 10px rgb(163, 163, 163);
      cursor: pointer;
    }
    &:nth-last-child(1) {
      margin-bottom: 20px;
    }
  }
  .social {
    height: 35px;
    margin: 0;

    &__item {
      font-size: 25px;
      color: white;
      transition: all 0.3s;
    
      &:hover {
        font-size: 25px;
        color: $color-main;
        background-color: white;
        box-shadow: 0 0 7px white;
      }
    }
  }
}
}
