body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  font-family: $font-main;
  color: $font-color;
  background-color: $color-main;
}
.header-container {
  display: flex;
  justify-content: space-around;
  width: 320px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-right: 25px;

  &__text {
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.nav-button {
  display: block;
  position: relative;
  align-self: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-main;

  span,
  span::before,
  span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 0;
    width: 35px;
    height: 2px;
    background-color: $color-main;
  }
  span::before,
  span::after {
  content: '';
    display: block;
  }
  span::before {
    transform: translateY(-7px);
    background-color: white;
  }
  span::after {
    transform: translateY(7px);
    background-color: white;
  }
}

.section-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

  &__img {
    background-image: url("/img/1iphone.jpg");
    background-repeat: no-repeat;
    width: 320px;
    height: 466px;
  }
}

.first-block-inform {
  width: 100%;

  h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.09em;
    padding-top: 85px;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
}
.works-button {
  display: block;
  position: relative;
  left: 70px;
  width: 180px;
  height: 50px;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 45px;
  transition: background-color 0.3s;
}
.works-button span {
  text-align: center;
  letter-spacing: 0.15em;
  color: white;
  transition: color 0.3s;
}
.works-button:hover {
  border: 1px solid rgb(255, 255, 255);
  background: white;
  box-shadow: 0 0 7px white;
}
.works-button:hover span {
  color: $color-main;
}

.container-icon {
  height: auto;
  margin-bottom: 30px;
}
.social {
  display: flex;
  justify-content: space-around;
  color: white;
  list-style: none;
  padding: 0 15px 0;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  color: white;
  background-color: $color-main;
  transition: all 0.3s;
}
.instagram:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}
.facebook:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}
.whatsapp:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}
.vk:hover {
  font-size: 25px;
  color: $color-main;
  background-color: white;
  box-shadow: 0 0 7px white;
}

.container-arrow {
  box-sizing: border-box;
  margin: 0;
  height: auto;
  margin-bottom: 20px;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    filter: invert(80%);
  }
}


.section-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.second-block-inform {
  width: 100%;
  
  h2 {
    font-size: 20px;
    letter-spacing: 0.06em;
    padding-left: 10px;
    text-transform: uppercase;
  }
}
.section-second-img {
  display: flex;
  background-image: url("/img/2iphone.jpg");
  background-repeat: no-repeat;
  width: 288px;
  height: 392px;
}
.page-number {
  width: 100%;
  padding: 10px;
}
.page-number progress {
  border: 0;
  width: 70px;
  height: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.page-number span {
  font-size: 30px;
}

progress {
  border: 0;
  width: 60px;
  height: 4px;
  margin-right: 10px;
  background-color: #ffffff;
}
progress::-webkit-progress-value {
  background: rgb(255, 255, 255);
  }


.section-third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
} 
.section-third-img {
  display: flex;
  background-image: url("/img/3iphone.jpg");
  background-repeat: no-repeat;
  width: 288px;
  height: 170px;
}
  
.footer-container {
  /*position: fixed;*/
  left: 0; bottom: 0;
  width: 100%;

  &__line {
    display: block;
    position: relative;
    align-self: center;
    width: 100%;
    height: 5px;
    border: none;
    background-color: $color-main;
  }
  &__line span {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color:rgb(146, 146, 146);
  }

  &__text {
    padding: 0; 
  }
  li {
    position: relative;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(146, 146, 146);
    line-height: 25px;
    list-style-type: none;
    text-align:  center;
  }
  li:nth-last-child(1) {
    margin-bottom: 30px;
  }
  .social__item {
    font-size: 20px;
    color: white;
  }
  .instagram:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  .facebook:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  .whatsapp:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
  .vk:hover {
    font-size: 25px;
    color: $color-main;
    background-color: white;
    box-shadow: 0 0 7px white;
  }
}
